@import 'tailwindcss';

*{
  font-size: 14px;
}
li,
ul {
  list-style-type: none;
}
button {
  padding: 5px;
  color: black;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  min-width: 5rem;
  margin: 10px;
}
input {
  padding: 5px;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  min-width: 5rem;
  margin: 10px;
}
