li {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.red {
  color: red;
}
.section {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5rem 0px;
}
.button {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
